@{
    ViewBag.Title = "Charts";
}
<h2>@ViewBag.Title.</h2>

<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart','bar']});
    
      google.charts.setOnLoadCallback(drawPieChart);

      function drawPieChart() {

          var data = google.visualization.arrayToDataTable(@ViewBag.PieData);

        var piechart_options = {
            title: '@ViewBag.PieTitle',
            width: 900,
            height: 500
        };
        var piechart = new google.visualization.PieChart(document.getElementById('piechart'));

          piechart.draw(data, piechart_options);
      }
    
    google.charts.setOnLoadCallback(function() {
        for(var i = 0; i < @ViewBag.Count; i++)
        {
            var data = @ViewBag.BarData;
            var title = @ViewBag.BarTitles;
            var min_max = @ViewBag.MinMax;
            var ranges = @ViewBag.Ranges;
            drawBarChart(i, data[i], ranges[i], title[i], min_max[i] );
        }
        });


    function drawBarChart(i, dat, range, title, min_max) {
        var data = new google.visualization.DataTable();
            data.addColumn('string', 'OutledID');
            data.addColumn('number', 'Values');
            data.addRows([dat]);

            var barchart_options = {
                isStacked: true,
                title: title,
                width: 900,
                height: 150,
                legend: 'none',
                bars: 'horizontal',
                hAxis: {
                    viewWindow: {min: min_max[0] , max: min_max[1]},
                    ticks: range
                }
            };
            var id = "barchart" + i;
            var barchart = new google.visualization.BarChart(document.getElementById(id));

            barchart.draw(data, barchart_options);
        }


</script>
<div id="piechart"></div>
@for (int i = 0; i < ViewBag.Count; i++)
{
    <div id="@string.Format("barchart{0}",i)"></div>
}

