@{
    ViewBag.Title = "Charts";
}
<h2>@ViewBag.Title.</h2>

<script type="text/javascript">
    google.charts.load('current', {'packages': ['corechart','bar']});
    
      google.charts.setOnLoadCallback(drawPieChart);
      google.charts.setOnLoadCallback(drawBarChart);

      function drawPieChart() {

          var data = google.visualization.arrayToDataTable(@ViewBag.PieData);

        var piechart_options = {
            title: '@ViewBag.PieTitle',
            width: 900,
            height: 500
        };
        var piechart = new google.visualization.PieChart(document.getElementById('piechart'));

          piechart.draw(data, piechart_options);
      }

    function drawBarChart() {

        var data = google.visualization.arrayToDataTable(@ViewBag.BarData);

        var barchart_options = {
            isStacked: true,
            title: '@ViewBag.BarTitle',
            width: 900,
            height: 150,
            legend: 'none',
            bars: 'horizontal',
            hAxis: {
                viewWindow: {min: @ViewBag.Min , max: @ViewBag.Max},
                ticks: @ViewBag.Range
            }
        };

        var barchart = new google.visualization.BarChart(document.getElementById('barchart'));

        barchart.draw(data, barchart_options);
    }
</script>
<div id="piechart"></div>
<div id="barchart"></div>
